.dashboard-body {
    background-color: lightslategray;
    display: inline-block;
    // width: 300px;
    // flex-direction: column;
    // justify-content: center;

}

.dashboard-box {
    background-color: lightyellow;
    height: 200px;
    width: 350px;
    border-bottom: solid black 1px;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;

}

.dashboard-box:first-child {
    border-top: solid black 1px;
    box-sizing: border-box;
}


.dashboard-footer {
    display: flex;
    flex-flow: row wrap;
}

.dashboard-footer li {

    margin: 10px;
}
.dashboard-box-items {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    height: 150px;
    width: 200px;
    margin: 10px;
}