.dashboard-body {
    background-color: lightslategray;
    display: inline-block;
    // width: 300px;
    // flex-direction: column;
    // justify-content: center;

}

.dashboard-box {
    background-color: lightyellow;
    height: 100px;

}


.dashboard-footer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}