
.nav-bar {
    background-color: burlywood;
    width: 100%;
    height: 65px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: black 1px solid;
}

.nav-login {

    width: 100px;
    text-align: right;
    margin: 0 10px 0 0;
}

.nav-user {
    width: 500px;
    display: flex;
    justify-content: flex-end;
}

.nav-user-search {
    display: flex;
    width: 300px;
    margin: 0 15px 0 0;
    justify-content: flex-end;
    align-items: center;

}

.nav-user-search li {
    width: 50px;

}

.nav-logo-container {
    width: 500px;
    display: flex;
    align-items: center;

}
.nav-logo {
    font-size: 40px;
    font-weight: bold;
    text-decoration: none;
}

.nav-logo-image {
    display: block;
    width: 35px;
    height: 35px;
    margin: 0 5px 0 10px;
}