

.story-body {
    background-color: aqua;
    margin: 20px 0 0 0;
    display: flex;
}

.story-index {
    background-color: lightsalmon;
    width: 90%;
    min-height: 900px;
    height: auto;
    display: flex;
    flex-direction: column;
}

.story-index-container {

    height: 125px;
}

.story-dashboard {
    background-color: lightseagreen;
}

.story-index-item {
    height: 50px;
    margin: 20px 0 20px 0;

}

.story-index-item a {
    text-decoration: none;
    color: black;
}

.story-index-item a:visited, a:hover, a:focus, a:active {
    color: black
}

.story-index-item h1 {
    font-size: 30px;
    font-weight: bold;
}

.story-index-item article {
    font-size: 20px;
    font-weight: 100;
    color: grey
}





    // a:visited { text-decoration: none; color:red; },
    // a:hover { text-decoration: none; color:blue; },
    // a:focus { text-decoration: none; color:yellow; },
    // a:hover, a:active { text-decoration: none; color:black },
