

.story-body {
    background-color: aqua;
    margin: 20px 0 0 0;
    display: flex;
}

.story-index {
    background-color: lightsalmon;
    width: 90%;
    min-height: 900px;
    height: auto;
    display: flex;
    flex-direction: column;
}

.story-dashboard {
    background-color: lightseagreen;
}